extends base.pug

block content
    if errorMessage 
        span=errorMessage
    form(method="POST" enctype="multipart/form-data")
        label Video File
            input(name="video" type="file" accept="video/*" required)
        input(placeholder="Title" required name="title" type="text" maxLength=80)
        input(placeholder="Description" required name="description" type="text" minLength=20)
        input(placeholder="Hashtags separated by comma" required name="hashtags" type="text")
        input(type="submit" value="Upload Video")