header
	a(href="/").header__logo
		i.fa-solid.fa-piggy-bank
		span.header__logo__title PIGST(a)Y

	div.header__search
		form(method="GET" action="/search").header__search__form
			input(placeholder="Search by title" name="keyword" type="text")
			button
				i.fas.fa-search

	ul.header__menu 
		if loggedIn 
			li
				a(href="/videos/upload") Upload Video
			li
				a(href="/users/edit")
					if loggedInUser.avatarUrl === ""
						div.header__initial
							span #{loggedInUser.email[0].toUpperCase()}
					else 
						img.header__avatar(src=loggedInUser.avatarUrl crossorigin )
			li
				a(href="/users/logout")  Log Out
			
		else
			li
				a(href="/login")  Login                        
			li
				a(href="/signup").header__btn  SignUp
