ul.menu
	li
		a(href="/?category=cook")
			i.fa-solid.fa-kitchen-set 
			span 만들만들
	li
		a(href="/?category=eat")
			i.fa-solid.fa-utensils 
			span 처묵처묵
	li
		a(href="/?category=fun")
			i.fa-solid.fa-ice-cream
			span 배불배불
	hr
	if loggedIn
		li
			a(href="/users/history")
				i.fa-solid.fa-shoe-prints
				span 영수증
		li
			a(href="/users/favorite")
				i.fa-solid.fa-gift
				span 냉장고